<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3 style="float: right;">Acerca.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
	<!-- *****************************************************************************************************************
	 AGENCY ABOUT
	 ***************************************************************************************************************** -->
	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<br>
	 			<br>
	 			<%= image_tag "doblecarretera.jpg", :class => "img-responsive" %>
	 		</div>
	 		<div class="col-lg-6">
		 		<h2>Contrato Abierto.</h2>
		 		<p style="font-size: 16px;">Contrato Abierto es el primer proyecto de periodismo de datos de Bolivia que quiere llegar a la ciudadanía con toda la información de la contratación pública del país extraída del Sistema de Contrataciones Estatales (Sicoes) en un formato reutilizable. </p>
				<p style="font-size: 16px;">
		 		Te facilitamos la búsqueda de las instituciones públicas y las contrataciones de obras, equipos y servicios que realiza con el objetivo de transparentar el manejo del presupuesto que tienen las mismas. 
				<p style="font-size: 16px;">
		 		El fin es evitar que se cometan actos de corrupción en estos procesos, que pueden llegar a costar dinero a cada uno de los ciudadanos. 
				<p style="font-size: 16px;">
		 		También te tendremos al tanto de las noticias relacionadas a contrataciones y usaremos la data para revelar cuáles son las empresas que se llevan más dinero y quienes están detrás de estas. </p>

		 		<h2>Datos y Codigo Abierto.</h2>
				<p style="font-size: 16px;">
		 		Comprometidos con el conocimiento libre abierto. Los datos se encuentran en esta  <a href="/data">direccion</a> y el codigo esta disponible en licencia libre en esta <a href="https://github.com/alvaromolina/contratoabierto" targe="_blank">github</a>
				</p>
 				<p><br/><a href="mailto:contacto@contratoabierto.com" class="btn btn-theme">Contacto </a></p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->

	 

	 
