  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3 style="float: right;">Datos</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

  <!--*****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->
   <div class="container mt">
    <div class="row">
      <div class="col-lg-12">
        <h2>DATOS y API(alpha):</h2>
        <h4>Puedes bajarte en CVS y EXCEL todos nuestros data sets, como tambien acceer mediante nuestra API a formato JSON</h4>

        <small>Estamos en alpha, algunos datasets estan limitados hasta 50000 registros hasta que se coloque un filtro por fecha</small>
        <table class="table table-striped">
          <tr>
            <th>
              Modelo
            </th>
            <th>
              API JSON
            </th>
            <th>
              CSV
            </th>
            <th>
              EXCEL
            </th>
          </tr>

          <tr>
              <td>
                modes (Modos de contratacion)
              </td>
              <td>
                <a href="/modes.json">modes.json</a>
              </td>
              <td>
                <a href="/modes.xls">modes.xls</a>
              </td>
              <td>
                <a href="/modes.csv">modes.csv</a>
              </td>
            </tr>
          </tr>

          <tr>
              <td>
                entities (Entidades)
              </td>
              <td>
                <a href="/entities.json">entities.json</a>
              </td>
              <td>
                <a href="/entities.xls">entities.xls</a>
              </td>
              <td>
                <a href="/entities.csv">entities.csv</a>
              </td>
            </tr>
          </tr>

          <tr>
              <td>
                statuses (Estados de contratacion)
              </td>
              <td>
                <a href="/statuses.json">statuses.json</a>
              </td>
              <td>
                <a href="/statuses.xls">statuses.xls</a>
              </td>
              <td>
                <a href="/statuses.csv">statuses.csv</a>
              </td>
            </tr>
          </tr>
          <tr>
              <td>
                regions (Regiones (Departamentos))
              </td>
              <td>
                <a href="/regions.json">regions.json</a>
              </td>
              <td>
                <a href="/regions.xls">regions.xls</a>
              </td>
              <td>
                <a href="/regions.csv">regions.csv</a>
              </td>
            </tr>
          </tr>
          <tr>
              <td>
                contracts (Publicaciones de contratos)
              </td>
              <td>
                <a href="/contracts.json">contracts.json</a>
              </td>
              <td>
                <a href="/contracts.xls">contracts.xls</a>
              </td>
              <td>
                <a href="/contracts.csv">contracts.csv</a>
              </td>
            </tr>
          </tr>

          <tr>
              <td>
                companies (compañias)
              </td>
              <td>
                <a href="/companies.json">companies.json</a>
              </td>
              <td>
                <a href="/companies.xls">companies.xls</a>
              </td>
              <td>
                <a href="/companies.csv">companies.csv</a>
              </td>
            </tr>
          </tr>

          <tr>
              <td>
                applying_companies (compañias que aplicarion)
              </td>
              <td>
                <a href="/applying_companies.json">applying_companies.json</a>
              </td>
              <td>
                <a href="/applying_companies.xls">applying_companies.xls</a>
              </td>
              <td>
                <a href="/applying_companies.csv">applying_companies.csv</a>
              </td>
            </tr>
          </tr>
          <tr>
              <td>
                contracted_companies (compañias que fueron contratadas)
              </td>
              <td>
                <a href="/contracted_companies.json">contracted_companies.json</a>
              </td>
              <td>
                <a href="/contracted_companies.xls">contracted_companies.xls</a>
              </td>
              <td>
                <a href="/contracted_companies.csv">contracted_companies.csv</a>
              </td>
            </tr>
          </tr>

        </table>
        
      </div>
    </div><!--/row -->
   </div><!--/container -->