  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3 style="float: right;">Datos</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->


<div class="container">
<div class="row">
  <div class=" col-md-offset-2 col-lg-4">
    <%= image_tag "cifras.jpg", :class => "img-responsive", :style => "max-height: 200px;" %>
        <a href="/contract_reports"><h3 class="ctitle">Publicaciones</h3></a>
  </div>
  <div class="col-lg-4">
    <%= image_tag "contract.jpg", :class => "img-responsive",  :style => "max-height: 200px;" %>
        <a href="/data"><h3 class="ctitle">Contratos realizados</h3></a>
  </div>
  <div class=" col-md-offset-2 col-lg-4">
    <%= image_tag "empresa.jpg", :class => "img-responsive", :style => "max-height: 200px;" %>
        <a href="/news1"><h3 class="ctitle">Empresas</h3></a>
  </div>
  <div class="col-lg-4">
    <%= image_tag "graph.png", :class => "img-responsive", :style => "max-height: 200px;" %>
        <a href="/news1"><h3 class="ctitle">Items presupuestos</h3></a>
  </div>
  </div>
</div>
