<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span id="search"></span></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
 		<div class="carousel-caption" style="text-align: right;">
			<h1 >Encuentra licitaciones publicas en Bolivia a traves de nuestro <a href="#search">buscador</a></h1>
			<h3>O recibe notificaciones en tu mail:</h3>
			<form class="form-inline">

			  <div class="form-group">
				    <input type="email" class="form-control col-xs-2 input-lg" id="objeto" placeholder="Email">
			  </div>
			<button class="btn btn-lg btn-primary">Suscribirse</button>

			</form>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="slider-size">
			<%= image_tag "obraspublicas2.jpg" %>
		</div>

    </div>
    <div class="item">
		<div class="carousel-caption">
			<h1>Explora los datos y participa en el control social</h1>
			<br><br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="slider-size">
			<%= image_tag "participa.jpg" %>
		</div>
    </div>
    <div class="item">
		<div class="carousel-caption">
			<h1>Explora los datos y participa en el control social</h1>
		</div>
		<div class="slider-size">
			<%= image_tag "obraspublicas2.jpg" %>
		</div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



     	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->

	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>Buscar contrataciones p&uacute;blicas en Bolivia
					<!--
						<span style="color: #DF151A;">Bo</span><span style="color: #F4F328;">li</span><span style="color: #00DA3C;">via</span</h1>
					-->
				</div>
			</div>
			<form class="form-inline">

			<div class="row">
				<div class="col-lg-12">
					  <div class="form-group">
						    <input type="text" size="35" class="form-control input-lg" id="objeto" placeholder="Objeto Contrato">
					  </div>
					  <div class="form-group">
					    <input type="text" size="35" class="form-control input-lg" id="entidad" placeholder="Entidad">
					  </div>
					  <div class="form-group">
					    <select class="form-control input-lg">
							  <option>Todos los departamentos</option>
							  <option>Cochabamba</option>
							  <option>La Paz</option>
							  <option>Santa Cruz</option>
						</select>
					  </div>
					  <button type="submit" class="btn btn-lg btn-theme btn-default">Buscar</button>
					  <br>
					  <h3 style="float: right;" href="">Busqueda avanzada</h3>
					  <!--
					  <div class="form-group">
						    <input type="date" class="form-control input-lg" id="objeto" placeholder="Fecha Inicio:">
					  </div>
					  <div class="form-group">
					     <input type="date" class="form-control input-lg" id="objeto" placeholder="Fecha Fin:">
					  </div>
					  <div class="form-group">

					    <select class="form-control input-lg">
							  <option>Estado Vigente</option>
							  <option>Contratado</option>
							  <option>Desierto</option>
							  <option>Cancelado</option>
						</select>
					  </div>
						-->
				</div>
			</div>
			</form>	
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->
	



<div class="container">


	<hgroup class="mb20">
		<h1>Publicaciones encontradas</h1>
		<h2 class="lead"><strong class="text-danger">4</strong> resultados fueron encontrados para la busqueda <strong class="text-danger">Lorem</strong></h2>								
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12 mb20">
		<article class="search-result row">

			<div class="col-xs-12 col-sm-12 col-md-4">
				<ul class="meta-search">
					<li><i class="glyphicon glyphicon-calendar"></i>Fecha publicación: <span>02/15/2014</span></li>
					<li><i class="glyphicon glyphicon-time"></i> Entidad publicación: <span>Municipalidad de Cochabamba</span></li>
					<li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 excerpet">
				<h3><a href="/contracts/1" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                <span class="plus"><a href="#" title="Lorem ipsum">Mas info<i class="glyphicon glyphicon-plus"></i></a></span>
			</div>
			<span class="clearfix borda"></span>
			<br><br>
		</article>			
	</section>



</div>