<!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3 style="float: right;">App Movil.</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->
  <!-- *****************************************************************************************************************
   AGENCY ABOUT
   ***************************************************************************************************************** -->
   <div class="container mtb">
    <div class="row">
      <div class="col-lg-6">
        <br>
        <br>
        <%= image_tag "phone.jpg", :class => "img-responsive" %>
      </div>
      <div class="col-lg-6">
        <br>
        <br>
        <h2>App movil.</h2>
        <p style="font-size: 16px;">Muy Pronto podras recibir toda la informacion de las licitaciones publicas directo en tu celuar. 
        </p>
      </div>
    </div><! --/row -->
   </div><! --/container -->
