  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3></h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

   
  <!-- *****************************************************************************************************************
   BLOG CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row">
    
      <div class="col-lg-8">

        <a href="/news2"><h2 class="ctitle">Las obras millonarias de Bolivia</h2></a>
  

        <p class="col-lg-7"> <%= image_tag "teleferico.jpg", :class => "img-responsive" %>
</p>

        <p><csmall> Noviembre 11, 2015.</csmall> | <csmall2>Contrato Abierto</csmall2></p>
        <div class="row">


          <p>Hidrocarburos, carreteras y transporte son los tres rubros de los contratos jugosos  del país.</p>
  <p>
Las empresas extranjeras y nacionales han logrado llevarse hasta 6.858’089.000 bolivianos por contratos relacionados con el rubro hidrocarburífero. Contrato Abierto realizó una radiografía de las adjudicaciones más poderosas de los últimos cinco años y encontró que Yacimientos Petrolíferos Fiscales Bolivianos es la empresa que hace más contrataciones hace en el país.</p> <p>
La empresa estratégica del Estado ha engordado  los bolsillos de Petrobras, la refinería Oro Negro, y las extranjeras Samsumg, Técnicas Reunidas y Vitol SA. que se han adjudicado peces gordos de la contratación pública como la compra de derivados de petróleo a refinarías y la puesta en marcha de la planta separadora de líquidos, adjudicaciones con las que la estatal boliviana ha buscado potenciarse con plantas de producción que respondan a la demanda nacional e internacional del rubro.</p>
<p>
Otro sector en el que los contratos ofrecen millonarios montos de dinero es en la construcción de carreteras. La vía que disminuyó las horas de viaje entre La Paz y Oruro es una de las más caras de esta media década y es la única del ranking de las 15 que fue licitada, ya que cinco se realizaron por modalidad directa, 3 por excepción y 7 por otras modalidades, lo que quiere decir que la mayoría esconde la forma en la que fue contratada, un punto en contra de la transparencia con las que se las licitó.</p>
<p>
“Mi Teleférico” , el transporte público se ha convertido en la contratación más cara de un servicio en el país, tomando en cuenta que tuvo dos fases, una primera que costó 2.888’400.000 bolivianos y una segunda que le demandó al Gobierno 1.453’343881 bolivianos.
</p>

            <iframe src="/inv/obras/index.html" frameborder="0" width="100%" height="400">
            </iframe>
<!-- 
      <div style="text-align: center;">
      <a href="#" id="pop">
          <%= image_tag "info1.png", :id => "imageresource" %>
          Click para agrandar
      </a>
      </div>

Creates the bootstrap modal where the image will appear 
      <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
              <img src="" id="imagepreview" style=" height: 1000px;" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
-->

        </div><!--/row -->
        <div class="spacing"></div>
        <p class="share">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-tumblr"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>       
        </p>
        
      </div><!--/col-lg-8 -->
      
      <%= render 'sidebar' %>


      </div>
   </div><!--/container -->



