  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3></h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

   
  <!-- *****************************************************************************************************************
   BLOG CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row">
    
      <! -- SINGLE POST -->
      <div class="col-lg-8">
        <! -- Blog Post 1 -->
        <p><img class="img-responsive" src="assets/img/post01.jpg"></p>
        <a href="single-post.html"><h2 class="ctitle">LAS CIFRAS DE LA PUBLICIDAD</h2></a>
        <p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
        <div class="row">


          <p>En medio de presiones Amalia Pando, periodista de Erbol y Jhon Arandia de Cadena A abandonaron sus puestos de trabajo para evitar supuestas asfixias económicas del Gobierno a sus medios a través de la venta de publicidad.</p>
          <p>
Los periodistas que cuestionaban muchas acciones del Gobierno Central recibieron el apoyo de su gremio a través de sus sindicatos y asociaciones, sin embargo el Vicepresidente Alvaro Garcia Linera negó cualquier medida de coerción contra los medios de comunicación y reconoció que no se otorga recursos a “medios que hacen política. </p>
<p>
“Los medios que mienten no reciben publicidad” , dijo y agregó que son más de 400 las empresas de televisión, radio, prensa escrita y empresas independientes las que tienen contrato con el Gobierno. </p>
<p>
Contrato Abierto abrió los datos de la publicidad en Bolivia durante las últimas gestiones. Las cifras millonarias revelan que los contratos están centrados en la televisión y que Bolivia TV, medio estatal es uno de los que más dinero ha recibido en la última mitad de la década. 
</p>

<h3>LA PUBLICIDAD ES TELEVISIVA </h3>
<p>
Y también es naranja tal como lo indica el slogan de la televisora que recibe más dinero del Gobierno, la Red Uno.  El canal de propiedad de la grupo Kuljis ha recibido en los últimos cinco años 43.111.939,32 de bolivianos,  casi medio millón más de bolivianos que la propia televisora estatal Bolivia TV. 
</p><p>
Esta empresa es también la casa periodística de Claudia Fernández la esposa del Vicepresidente Álvaro García Linera.</p> <p>
La tercera empresa que recibe recursos públicos es Illimani de Comunicaciones que oferta servicios de publicidad también en televisión en la Red ATB.</p>
<p>
En la lista figuran solamente dos medios impresos La Razón (Comunicaciones El País) y El Deber.</p>
<p>
Una sola radio Panamericana Somera obtuvo en los últimos cinco años 4.891.609,84 de bolivianos. </p><p>
Erbol figura en el número 32 de la lista de empresas que tienen mayores ingresos por publicidad con un monto de 2.321.183.73 de bolivianos que recibió del Gobierno en la última media década. Cadena A, Canal 32.</p>
            <iframe src="/inv/export/index.html" frameborder="0" width="100%" height="600">
            </iframe>

<h3>CRUCEÑOS SON LOS QUE MÁS INVIERTEN</h3>
<p>
El Gobierno Autónomo Municipal de Santa Cruz es la institución pública que más invierte en publicidad en todo el país. En la última media década llegó a gastar 79.283.212,07 bolivianos, incluso superando a la empresa estatal Yacimientos Petrolíferos Fiscales Bolivianos que invirtió 62605832.13 de bolivianos.</p><p>
La Gobernación de Santa Cruz también es otra institución que también hace grandes inversiones en publicidad al igual que la Empresa Municipal de Aseo de Santa Cruz que hacen figurar a esta región como una de las que tiene mayor cantidad de instituciones de nivel municipal y departamental que hacen contratos por publicidad. </p>

            <iframe src="/inv/gastan/index.html" frameborder="0" width="100%" height="600">
            </iframe>
            <iframe src="/inv/santacruz/index.html" frameborder="0" width="100%" height="400">
            </iframe>
        </div><!--/row -->
        <div class="spacing"></div>
                <h6>Compartir:</h6>
        <p class="share">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-tumblr"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>       
        </p>
        
      </div><!--/col-lg-8 -->
      
      <%= render 'sidebar' %>


      </div>
   </div><!--/container -->



