  

  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3></h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

   
  <!-- *****************************************************************************************************************
   BLOG CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row">
    
      <!-- SINGLE POST -->
      <div class="col-lg-8">
        <!-- Blog Post 1 -->

        <a href="/news2"><h2 class="ctitle">La norma permite seis tipos de modalidades de contratación</h2></a>
        
        <p> <%= image_tag "1.jpg", :class => "img-responsive" %>
</p>

        <p><csmall> Noviembre 11, 2015.</csmall> | <csmall2>Contrato Abierto</csmall2></p>
        <div class="row">


          <p>
El Decreto Supremo 181 de Normas Básicas de Administración de Bienes y Servicios es el que define seis tipos de contrataciones para las instituciones públicas en Bolivia. </p>

<p>
Los denominados Contratos Menores son los que se hacen por debajo de los 20.000 bolivianos y no requieren de una adjudicación.
</p>
<p>
Apoyo Nacional a la Producción y Empleo es otra modalidad que consiste en hacer contratos superiores a 20.000 bolivianos y menores a un millón de bolivianos. 
</p>
<p>
Las Licitaciones Públicas son los contratos que se hacen de un millón de bolivianos para adelante y se los hace conocer a través de publicaciones en medios de comunicación.  Mediante esta modalidad se hace una apertura pública de sobres de los proponentes. 
</p>
<p>
Las contrataciones por excepciones se hacen mediante una resolución y cuando solamente existe un ofertante o una empresa que pueda proveer el producto o servicio que se requiera. 
</p>
<p>
Las contrataciones por emergencia se hacen solamente en casos de emergencias nacionales con el objetivo de reducir riesgos y desastres naturales y solamente lo  pueden hacer las máximas autoridades ejecutivas. La norma no específica montos. 
</p>
<p>
La Contratación Directa de Bienes y Servicios es la que se realiza solamente en casos específicos como la adquisición de gasolina, energía eléctrica, arrendamiento de inmuebles, suscripción a medios de comunicación, publicidad en medios de comunicación. El registro se debe hacer en el Sicoes si el monto es mayor a 20.000 bolivianos. 
</p>
      <div style="text-align: center;">
      <b></b><a href="/decreto181.pdf"  >
Descarga aquí la ley que rige para los contratos      </a></b>
      </div>
        </div><!--/row -->
      <div class="spacing"></div>
              <h6>Compartir:</h6>
      <p class="share">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-tumblr"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>       
      </p>
        
      </div><!--/col-lg-8 -->
      
      <%= render 'sidebar' %>


      </div>
   </div><!--/container -->



