<style>
  #blue{
    margin-bottom: 0px;
  }
</style>
<div id="blue">
    <div class="container">
    <div class="row">
      <h3 style="float: right;">CONTRATO ABIERTO | PERIODISMO DE DATOS.</h3>
    </div><!-- /row -->
    </div><!-- /container -->
</div>

    <div class="carousel-inner" role="listbox" style="max-height: 400px;">

     <div class="item active">
    <div class="carousel-caption" style="text-align: center; max-height: 70%;">
      <h2 style="font-family: 'Open Sans'; font-size: 45px;">LAS CIFRAS DE LA PUBLICIDAD
      <br>
      </h2>
      <br>
      <h2 >
      <a style="font-family: 'Open Sans'; color: white;" href="/news1">Ver mas</a>
      </h2>
      <br><br><br><br><br>
      <br>
      <br>
    </div>
    <div class="slider-size" >
      <%= image_tag "cifras.jpg" %>
    </div>
    </div>
    
  </div>


   <div class="container ">


    <div class="row">
    
      <!-- BLOG POSTS LIST -->
      <div class="col-lg-4">
        <!-- Blog Post 1 -->

        <p>
          <%= image_tag "teleferico.jpg", :class => "img-responsive" %>
        </p>

        <a href="/news2"><h3 class="ctitle">Las obras millonarias de Bolivia</h3></a>
        <p><csmall> Agosto 11, 2015.</csmall> | <csmall2>Por: Contrato Abierto</csmall2></p>
        <p>Hidrocarburos, carreteras y transporte son los tres rubros de los contratos jugosos  del país.
Las empresas extranjeras y nacionales han logrado llevarse hasta 6.858’089.000 bolivianos por contratos relacionados con el rubro hidrocarburífero. Contrato Abierto realizó una radiografía de las adjudicaciones más poderosas de los últimos cinco años y encontró que Yacimientos Petrolíferos Fiscales Bolivianos es la empresa que hace más contrataciones hace en el país.</p>
        <p><a href="/news2">[Leer mas]</a></p>
        <div class="hline"></div>
        <div class="spacing"></div>

        

      </div><!--/col-lg-8 -->
      <div class="col-lg-4">
        <!-- Blog Post 1 -->

              <p>
          <%= image_tag "cifras.jpg", :class => "img-responsive" %>
        </p>

        <a href="/news1"><h3 class="ctitle">Las cifras de la publicidad</h3></a>
        <p><csmall> Diciembre 11, 2015.</csmall> | <csmall2>Por: Contrato Abierto</csmall2></p>
        <p>En medio de presiones Amalia Pando, periodista de Erbol y Jhon Arandia de Cadena A abandonaron sus puestos de trabajo para evitar supuestas asfixias económicas del Gobierno a sus medios a través de la venta de publicidad.</p>
        <p>Los periodistas que cuestionaban muchas acciones del Gobierno Central recibieron el apoyo de su gremio a través de sus sindicatos y asociaciones, sin embargo el Vicepresidente Alvaro Garcia Linera negó cualquier medida de coerción contra los medios de comunicación y reconoció que no se otorga recursos a “medios que hacen política.</p>
        <p><a href="/news1">[Leer mas]</a></p>
        <div class="hline"></div>
        <div class="spacing"></div>


        <a href="/news4"><h3 class="ctitle">La norma permite seis tipos de modalidades de contratación</h3></a>
        <p><csmall> Enero 10, 2015.</csmall> | <csmall2>Por: Contrato Abierto</csmall2></p>
        <p>El Decreto Supremo 181 de Normas Básicas de Administración de Bienes y Servicios es el que define seis tipos de contrataciones para las instituciones públicas en Bolivia.</p>
        <p><a href="/news3">[Leer mas]</a></p>
        <div class="hline"></div>
        <div class="spacing"></div>
        


      </div><!--/col-lg-8 -->

      <%= render 'sidebar' %>

    </div><!--/row -->
   </div><!--/container -->


   